<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	
	    
	<bean id="author" class="com.study.spring.case01.Author" ></bean>
	
	<bean id="author2" class="com.study.spring.case01.Author" >
		<property name="name">
			<value>Mary</value>
		</property>
		<property name="sex">
			<value>F</value>
		</property>
		<property name="age">
			<value>18</value>
		</property>
	</bean>
	
	<bean id="author3" class="com.study.spring.case01.Author">
		<constructor-arg value="Jane" index="0"></constructor-arg>
		<constructor-arg value="F" index="1"></constructor-arg>
		<constructor-arg value="19" index="2"></constructor-arg>
	</bean>
	
	<bean id="author4" 
		  class="com.study.spring.case01.Author"
		  p:name="Helen" p:sex="F" p:age="21" />
	
	<bean id="author5" 
		  class="com.study.spring.case01.Author"
		  c:name="Tom" c:sex="M" c:age="25" />
	
	<bean id="lotto" scope="prototype" class="com.study.spring.case01.Lotto" />
	
	<bean id="book" class="com.study.spring.case01.Book">
		<property name="name">
			<value>String</value>
		</property>
		<property name="price">
			<value>600</value>
		</property>
		<property name="author" ref="author2" />
	</bean>
	
	<bean id="book2" class="com.study.spring.case01.Book"
		p:name="Java" p:price="700" p:author-ref="author3"
	 />
	
	<bean id="book3" class="com.study.spring.case01.Book">
		<constructor-arg value="Python" />
		<constructor-arg value="450" />
		<constructor-arg ref="author4" />
	</bean>
	
	<bean id="book4" class="com.study.spring.case01.Book"
		c:name="VB.NET" c:price="300" c:author-ref="author5"
	/>
	
	<bean scope="singleton" id="husband" class="com.study.spring.case01.Husband">
		<property name="name">
			<value>John</value>
		</property>
		<property name="wife" ref="wife" />	
	</bean>
	
	<bean scope="singleton" id="wife" class="com.study.spring.case01.Wife">
		<property name="name">
			<value>Mary</value>
		</property>
		<property name="husband" ref="husband" />
	</bean>
	
	<!-- 注意(坑): 使用建構子注入 husband 與 wife 的參照要使用 p, 否則會發生遞迴錯誤 -->
	<bean scope="singleton" id="wife2" class="com.study.spring.case01.Wife"
		c:name="Helen" p:husband-ref="husband2"
	/> 
	
	<bean scope="singleton" id="husband2" class="com.study.spring.case01.Husband"
		c:name="Tom" p:wife-ref="wife2"
	/>
	
	<bean id="dog" class="com.study.spring.case01.Dog" p:name="拉不拉多" />
	<bean id="dog2" class="com.study.spring.case01.Dog" p:name="柴犬" />
	<bean id="cat" class="com.study.spring.case01.Cat" p:name="波斯貓" />
	
	<bean id="turnOn" class="com.study.spring.case01.TurnOn"
		init-method="init"
		destroy-method="destroy"
	 />
	
</beans>


