<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- 手動配置 -->
	<bean id="color" class="com.study.spring.case02.Color" 
		p:id="1" p:name="Yellow"
	/>
	
	<bean id="redColor" class="com.study.spring.case02.Color" 
		p:id="2" p:name="Red"
	/>
	
	<bean id="size" class="com.study.spring.case02.Size" 
		p:id="10" p:name="A4"
	/>
	
	<bean id="b5Size" class="com.study.spring.case02.Size" 
		p:id="11" p:name="B5"
	/>
	
	<!-- 自動配置 -->
	<bean id="pager" class="com.study.spring.case02.Pager" 
		p:id="100" autowire="byName"
	/>
	
	<bean id="pager2" class="com.study.spring.case02.Pager2" 
		p:id="101" autowire="byName"
	/>
	
	<bean id="pager3" class="com.study.spring.case02.Pager3" 
		p:id="102" autowire="constructor"
	/>
	
</beans>


